docs/core/WSDL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" targetNamespace="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="App">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="name">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="timezone">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="state">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="auto_reconfigure" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Component">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="name">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="uid">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="deploy_strategy">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="repair_strategy">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="behaviors">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="port">
            <xs:simpleType>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="state">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="pulse">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="category">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="network">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="generation_counter">
            <xs:simpleType>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="horizontal" type="xs:boolean" />
          <xs:element minOccurs="0" name="redundant" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Deploy">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="commit_message">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="boxfile_content">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="build_id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="author_id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="app_id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Evar">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="title">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="value">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="internal" type="xs:boolean" />
          <xs:element minOccurs="0" name="component_id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Service">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="uid">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="name">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="slug">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="url">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="token">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="mode">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="ip">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="User">
        <xs:sequence>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="username">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="email">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="authentication_token">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="unconfirmed_email" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdaptersRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="endpoint">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the base URL to use for requests to the adapter</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AdaptersResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="unlink_code">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>a code used to confirm a request to unregister this adapter is legitimate</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="anything">
        <xs:restriction base="xs:string">
          <xs:enumeration value="me" />
        </xs:restriction>
      </xs:simpleType>
      <xs:complexType name="AppsConsolesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="token">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="url">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="protocol">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppsDeploysRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="boxfile_content">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="build_id">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="commit_message">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppsEvarsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="title">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="value">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="AppsTunnelsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="token">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="url">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="protocol">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="port">
            <xs:simpleType>
              <xs:restriction base="xs:integer" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Event">
        <xs:annotation>
          <xs:documentation>the details to create the event with</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="eventable_id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the app name</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="message">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the message</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="action">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the action</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="meta" type="xs:anyType">
            <xs:annotation>
              <xs:documentation>any additional data</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Events422Error">
        <xs:sequence>
          <xs:element minOccurs="0" name="error">
            <xs:simpleType>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="event" type="tns:Event">
            <xs:annotation>
              <xs:documentation>the details to create the event with</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="EventsResponse">
        <xs:annotation>
          <xs:documentation>the details of the created event</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="user" type="tns:User" />
          <xs:element minOccurs="0" name="eventable" type="tns:App" />
          <xs:element minOccurs="0" name="message">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the message</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="action">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the action</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="meta" type="xs:anyType">
            <xs:annotation>
              <xs:documentation>any meta data passed in</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="name">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the name of the API provider</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="version">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the API version</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UserAuthTokenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="authentication_token">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the user's authentication token, for accessing this API</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the UUID of the user</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UsersAuthTokenResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="authentication_token">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the user's authentication token, for accessing this API</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>the UUID of the user</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string" />
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="GET_listApps_InputMessage">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listApps_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:App">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getApp_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getApp_OutputMessage" type="tns:App">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_listComponents_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listComponents_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:Component">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getComponent_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="component" type="xs:string">
              <xs:annotation>
                <xs:documentation>the component's UUID</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getComponent_OutputMessage" type="tns:Component">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_listServiceComponents_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="service" type="xs:string">
              <xs:annotation>
                <xs:documentation>the service's UUID or slug</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listServiceComponents_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:Component">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getServiceComponent_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="service" type="xs:string">
              <xs:annotation>
                <xs:documentation>the service's UUID or slug</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="component" type="xs:string">
              <xs:annotation>
                <xs:documentation>the component's UUID</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getServiceComponent_OutputMessage" type="tns:Component">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_listDeploys_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listDeploys_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:Deploy">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_createDeploy_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="body" type="tns:AppsDeploysRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_createDeploy_OutputMessage" type="tns:Deploy">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getDeploy_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="deploy" type="xs:string">
              <xs:annotation>
                <xs:documentation>the deploy's UUID</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getDeploy_OutputMessage" type="tns:Deploy">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_listEvars_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listEvars_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:Evar">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_createEvar_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="body" type="tns:AppsEvarsRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_createEvar_OutputMessage" type="tns:Evar">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getEvar_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="evar" type="xs:string">
              <xs:annotation>
                <xs:documentation>the evar's UUID</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getEvar_OutputMessage" type="tns:Evar">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DELETE_deleteEvar_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="evar" type="xs:string">
              <xs:annotation>
                <xs:documentation>the evar's UUID</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DELETE_deleteEvar_OutputMessage">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="POST_createEvent_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="body" type="tns:EventsRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_createEvent_OutputMessage" type="tns:EventsResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="POST_createEvent_422" type="tns:Events422Error">
        <xs:annotation>
          <xs:documentation>unprocessable_entity</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_openTunnel_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="id" type="xs:string">
              <xs:annotation>
                <xs:documentation>the name of the server or component to tunnel into</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_openTunnel_OutputMessage" type="tns:AppsTunnelsResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_openConsole_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="id" type="xs:string">
              <xs:annotation>
                <xs:documentation>the name of the server or component to console into</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_openConsole_OutputMessage" type="tns:AppsConsolesResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_listServices_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ArrayOfGET_listServices_OutputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="response" type="tns:Service">
              <xs:annotation>
                <xs:documentation>success</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getService_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="app" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's UUID or name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ci" type="xs:string">
              <xs:annotation>
                <xs:documentation>the application's team name, if `{app}` is a name</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="service" type="xs:string">
              <xs:annotation>
                <xs:documentation>the service's UUID or slug</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getService_OutputMessage" type="tns:Service">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getToken_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="slug" type="xs:string">
              <xs:annotation>
                <xs:documentation>email address of the user</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="password" type="xs:string">
              <xs:annotation>
                <xs:documentation>password of the user</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getToken_OutputMessage" type="tns:UserAuthTokenResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getTokenFromUsername_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="slug" type="xs:string">
              <xs:annotation>
                <xs:documentation>username of the user</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="password" type="xs:string">
              <xs:annotation>
                <xs:documentation>password of the user</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getTokenFromUsername_OutputMessage" type="tns:UsersAuthTokenResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getUser_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="anything" type="tns:anything">
              <xs:annotation>
                <xs:documentation>ignored; use "me"</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getUser_OutputMessage" type="tns:User">
        <xs:annotation>
          <xs:documentation>User object</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getVersion_InputMessage">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GET_getVersion_OutputMessage" type="tns:Response">
        <xs:annotation>
          <xs:documentation>A JSON object with the name and version of the API.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GET_getVersion_404">
        <xs:annotation>
          <xs:documentation>Returned by Nanobox.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="POST_registerHostingProvider_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="token" type="xs:string">
              <xs:annotation>
                <xs:documentation>the adapter registration token generated by the dashboard for this adapter</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="body" type="tns:AdaptersRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="POST_registerHostingProvider_OutputMessage" type="tns:AdaptersResponse">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DELETE_unregisterHostingProvider_InputMessage">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" name="token" type="xs:string">
              <xs:annotation>
                <xs:documentation>the adapter registration token used to register this adapter</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="1" name="unlink_code" type="xs:string">
              <xs:annotation>
                <xs:documentation>the unlink_code returned when this adapter was registered</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DELETE_unregisterHostingProvider_OutputMessage">
        <xs:annotation>
          <xs:documentation>success</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:schema>
  </types>
  <message name="GET_listApps_InputMessage">
    <part name="GET_listApps_InputMessage" xmlns:q1="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q1:GET_listApps_InputMessage" />
  </message>
  <message name="GET_listApps_OutputMessage">
    <part name="GET_listApps_OutputMessage" xmlns:q2="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q2:ArrayOfGET_listApps_OutputMessage" />
  </message>
  <message name="GET_getApp_InputMessage">
    <part name="GET_getApp_InputMessage" xmlns:q3="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q3:GET_getApp_InputMessage" />
  </message>
  <message name="GET_getApp_OutputMessage">
    <part name="GET_getApp_OutputMessage" xmlns:q4="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q4:GET_getApp_OutputMessage" />
  </message>
  <message name="GET_listComponents_InputMessage">
    <part name="GET_listComponents_InputMessage" xmlns:q5="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q5:GET_listComponents_InputMessage" />
  </message>
  <message name="GET_listComponents_OutputMessage">
    <part name="GET_listComponents_OutputMessage" xmlns:q6="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q6:ArrayOfGET_listComponents_OutputMessage" />
  </message>
  <message name="GET_getComponent_InputMessage">
    <part name="GET_getComponent_InputMessage" xmlns:q7="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q7:GET_getComponent_InputMessage" />
  </message>
  <message name="GET_getComponent_OutputMessage">
    <part name="GET_getComponent_OutputMessage" xmlns:q8="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q8:GET_getComponent_OutputMessage" />
  </message>
  <message name="GET_listServiceComponents_InputMessage">
    <part name="GET_listServiceComponents_InputMessage" xmlns:q9="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q9:GET_listServiceComponents_InputMessage" />
  </message>
  <message name="GET_listServiceComponents_OutputMessage">
    <part name="GET_listServiceComponents_OutputMessage" xmlns:q10="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q10:ArrayOfGET_listServiceComponents_OutputMessage" />
  </message>
  <message name="GET_getServiceComponent_InputMessage">
    <part name="GET_getServiceComponent_InputMessage" xmlns:q11="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q11:GET_getServiceComponent_InputMessage" />
  </message>
  <message name="GET_getServiceComponent_OutputMessage">
    <part name="GET_getServiceComponent_OutputMessage" xmlns:q12="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q12:GET_getServiceComponent_OutputMessage" />
  </message>
  <message name="GET_listDeploys_InputMessage">
    <part name="GET_listDeploys_InputMessage" xmlns:q13="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q13:GET_listDeploys_InputMessage" />
  </message>
  <message name="GET_listDeploys_OutputMessage">
    <part name="GET_listDeploys_OutputMessage" xmlns:q14="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q14:ArrayOfGET_listDeploys_OutputMessage" />
  </message>
  <message name="POST_createDeploy_InputMessage">
    <part name="POST_createDeploy_InputMessage" xmlns:q15="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q15:POST_createDeploy_InputMessage" />
  </message>
  <message name="POST_createDeploy_OutputMessage">
    <part name="POST_createDeploy_OutputMessage" xmlns:q16="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q16:POST_createDeploy_OutputMessage" />
  </message>
  <message name="GET_getDeploy_InputMessage">
    <part name="GET_getDeploy_InputMessage" xmlns:q17="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q17:GET_getDeploy_InputMessage" />
  </message>
  <message name="GET_getDeploy_OutputMessage">
    <part name="GET_getDeploy_OutputMessage" xmlns:q18="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q18:GET_getDeploy_OutputMessage" />
  </message>
  <message name="GET_listEvars_InputMessage">
    <part name="GET_listEvars_InputMessage" xmlns:q19="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q19:GET_listEvars_InputMessage" />
  </message>
  <message name="GET_listEvars_OutputMessage">
    <part name="GET_listEvars_OutputMessage" xmlns:q20="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q20:ArrayOfGET_listEvars_OutputMessage" />
  </message>
  <message name="POST_createEvar_InputMessage">
    <part name="POST_createEvar_InputMessage" xmlns:q21="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q21:POST_createEvar_InputMessage" />
  </message>
  <message name="POST_createEvar_OutputMessage">
    <part name="POST_createEvar_OutputMessage" xmlns:q22="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q22:POST_createEvar_OutputMessage" />
  </message>
  <message name="GET_getEvar_InputMessage">
    <part name="GET_getEvar_InputMessage" xmlns:q23="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q23:GET_getEvar_InputMessage" />
  </message>
  <message name="GET_getEvar_OutputMessage">
    <part name="GET_getEvar_OutputMessage" xmlns:q24="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q24:GET_getEvar_OutputMessage" />
  </message>
  <message name="DELETE_deleteEvar_InputMessage">
    <part name="DELETE_deleteEvar_InputMessage" xmlns:q25="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q25:DELETE_deleteEvar_InputMessage" />
  </message>
  <message name="DELETE_deleteEvar_OutputMessage">
    <part name="DELETE_deleteEvar_OutputMessage" xmlns:q26="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q26:DELETE_deleteEvar_OutputMessage" />
  </message>
  <message name="POST_createEvent_InputMessage">
    <part name="POST_createEvent_InputMessage" xmlns:q27="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q27:POST_createEvent_InputMessage" />
  </message>
  <message name="POST_createEvent_OutputMessage">
    <part name="POST_createEvent_OutputMessage" xmlns:q28="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q28:POST_createEvent_OutputMessage" />
  </message>
  <message name="POST_createEvent_422">
    <part name="POST_createEvent_422" xmlns:q29="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q29:POST_createEvent_422" />
  </message>
  <message name="GET_openTunnel_InputMessage">
    <part name="GET_openTunnel_InputMessage" xmlns:q30="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q30:GET_openTunnel_InputMessage" />
  </message>
  <message name="GET_openTunnel_OutputMessage">
    <part name="GET_openTunnel_OutputMessage" xmlns:q31="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q31:GET_openTunnel_OutputMessage" />
  </message>
  <message name="GET_openConsole_InputMessage">
    <part name="GET_openConsole_InputMessage" xmlns:q32="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q32:GET_openConsole_InputMessage" />
  </message>
  <message name="GET_openConsole_OutputMessage">
    <part name="GET_openConsole_OutputMessage" xmlns:q33="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q33:GET_openConsole_OutputMessage" />
  </message>
  <message name="GET_listServices_InputMessage">
    <part name="GET_listServices_InputMessage" xmlns:q34="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q34:GET_listServices_InputMessage" />
  </message>
  <message name="GET_listServices_OutputMessage">
    <part name="GET_listServices_OutputMessage" xmlns:q35="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q35:ArrayOfGET_listServices_OutputMessage" />
  </message>
  <message name="GET_getService_InputMessage">
    <part name="GET_getService_InputMessage" xmlns:q36="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q36:GET_getService_InputMessage" />
  </message>
  <message name="GET_getService_OutputMessage">
    <part name="GET_getService_OutputMessage" xmlns:q37="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q37:GET_getService_OutputMessage" />
  </message>
  <message name="GET_getToken_InputMessage">
    <part name="GET_getToken_InputMessage" xmlns:q38="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q38:GET_getToken_InputMessage" />
  </message>
  <message name="GET_getToken_OutputMessage">
    <part name="GET_getToken_OutputMessage" xmlns:q39="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q39:GET_getToken_OutputMessage" />
  </message>
  <message name="GET_getTokenFromUsername_InputMessage">
    <part name="GET_getTokenFromUsername_InputMessage" xmlns:q40="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q40:GET_getTokenFromUsername_InputMessage" />
  </message>
  <message name="GET_getTokenFromUsername_OutputMessage">
    <part name="GET_getTokenFromUsername_OutputMessage" xmlns:q41="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q41:GET_getTokenFromUsername_OutputMessage" />
  </message>
  <message name="GET_getUser_InputMessage">
    <part name="GET_getUser_InputMessage" xmlns:q42="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q42:GET_getUser_InputMessage" />
  </message>
  <message name="GET_getUser_OutputMessage">
    <part name="GET_getUser_OutputMessage" xmlns:q43="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q43:GET_getUser_OutputMessage" />
  </message>
  <message name="GET_getVersion_InputMessage">
    <part name="GET_getVersion_InputMessage" xmlns:q44="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q44:GET_getVersion_InputMessage" />
  </message>
  <message name="GET_getVersion_OutputMessage">
    <part name="GET_getVersion_OutputMessage" xmlns:q45="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q45:GET_getVersion_OutputMessage" />
  </message>
  <message name="GET_getVersion_404">
    <part name="GET_getVersion_404" xmlns:q46="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q46:GET_getVersion_404" />
  </message>
  <message name="POST_registerHostingProvider_InputMessage">
    <part name="POST_registerHostingProvider_InputMessage" xmlns:q47="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q47:POST_registerHostingProvider_InputMessage" />
  </message>
  <message name="POST_registerHostingProvider_OutputMessage">
    <part name="POST_registerHostingProvider_OutputMessage" xmlns:q48="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q48:POST_registerHostingProvider_OutputMessage" />
  </message>
  <message name="DELETE_unregisterHostingProvider_InputMessage">
    <part name="DELETE_unregisterHostingProvider_InputMessage" xmlns:q49="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q49:DELETE_unregisterHostingProvider_InputMessage" />
  </message>
  <message name="DELETE_unregisterHostingProvider_OutputMessage">
    <part name="DELETE_unregisterHostingProvider_OutputMessage" xmlns:q50="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/schemas" element="q50:DELETE_unregisterHostingProvider_OutputMessage" />
  </message>
  <portType name="Microbox_x0020_Core_x0020_API_PortType">
    <operation name="GET_listApps">
      <documentation>List all accessible apps.</documentation>
      <input xmlns:q51="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q51:GET_listApps_InputMessage" />
      <output xmlns:q52="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q52:GET_listApps_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getApp">
      <documentation>Get information about a specific app.</documentation>
      <input xmlns:q53="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q53:GET_getApp_InputMessage" />
      <output xmlns:q54="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q54:GET_getApp_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_listComponents">
      <documentation>List components in a given app.</documentation>
      <input xmlns:q55="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q55:GET_listComponents_InputMessage" />
      <output xmlns:q56="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q56:GET_listComponents_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getComponent">
      <documentation>Get information about a specific component in a given app.</documentation>
      <input xmlns:q57="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q57:GET_getComponent_InputMessage" />
      <output xmlns:q58="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q58:GET_getComponent_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_listServiceComponents">
      <documentation>List components in a given service of a given app.</documentation>
      <input xmlns:q59="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q59:GET_listServiceComponents_InputMessage" />
      <output xmlns:q60="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q60:GET_listServiceComponents_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getServiceComponent">
      <documentation>Get information about a specific component in a given service of a given app.</documentation>
      <input xmlns:q61="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q61:GET_getServiceComponent_InputMessage" />
      <output xmlns:q62="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q62:GET_getServiceComponent_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_listDeploys">
      <documentation>List deploys in a given app.</documentation>
      <input xmlns:q63="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q63:GET_listDeploys_InputMessage" />
      <output xmlns:q64="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q64:GET_listDeploys_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="POST_createDeploy">
      <documentation>Create a new deploy.</documentation>
      <input xmlns:q65="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q65:POST_createDeploy_InputMessage" />
      <output xmlns:q66="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q66:POST_createDeploy_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getDeploy">
      <documentation>Get information about a specific deploy in a given app.</documentation>
      <input xmlns:q67="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q67:GET_getDeploy_InputMessage" />
      <output xmlns:q68="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q68:GET_getDeploy_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_listEvars">
      <documentation>List environment variables in a given app.</documentation>
      <input xmlns:q69="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q69:GET_listEvars_InputMessage" />
      <output xmlns:q70="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q70:GET_listEvars_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="POST_createEvar">
      <documentation>Add or set an environment variable.</documentation>
      <input xmlns:q71="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q71:POST_createEvar_InputMessage" />
      <output xmlns:q72="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q72:POST_createEvar_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getEvar">
      <documentation>Get information about a specific environment variable in a given app.</documentation>
      <input xmlns:q73="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q73:GET_getEvar_InputMessage" />
      <output xmlns:q74="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q74:GET_getEvar_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="DELETE_deleteEvar">
      <documentation>Delete an environment variable.</documentation>
      <input xmlns:q75="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q75:DELETE_deleteEvar_InputMessage" />
      <output xmlns:q76="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q76:DELETE_deleteEvar_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="POST_createEvent">
      <documentation>Create an event</documentation>
      <input xmlns:q77="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q77:POST_createEvent_InputMessage" />
      <output xmlns:q78="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q78:POST_createEvent_OutputMessage">
        <documentation>success</documentation>
      </output>
      <fault name="POST_createEvent_422" xmlns:q79="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q79:POST_createEvent_422">
        <documentation>unprocessable_entity</documentation>
      </fault>
    </operation>
    <operation name="GET_openTunnel">
      <documentation>Create a tunnel, and get the connection parameters.</documentation>
      <input xmlns:q80="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q80:GET_openTunnel_InputMessage" />
      <output xmlns:q81="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q81:GET_openTunnel_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_openConsole">
      <documentation>Create a console session, and get the connection parameters.</documentation>
      <input xmlns:q82="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q82:GET_openConsole_InputMessage" />
      <output xmlns:q83="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q83:GET_openConsole_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_listServices">
      <documentation>List services in a given app.</documentation>
      <input xmlns:q84="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q84:GET_listServices_InputMessage" />
      <output xmlns:q85="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q85:GET_listServices_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getService">
      <documentation>Get information about a specific service in a given app.</documentation>
      <input xmlns:q86="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q86:GET_getService_InputMessage" />
      <output xmlns:q87="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q87:GET_getService_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getToken">
      <documentation>Look up the auth token of the user</documentation>
      <input xmlns:q88="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q88:GET_getToken_InputMessage" />
      <output xmlns:q89="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q89:GET_getToken_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getTokenFromUsername">
      <documentation>Duplicate of `GET /user_auth_token`, with the `slug` in the path; abandoned with a switch from usernames to emails for login credentials</documentation>
      <input xmlns:q90="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q90:GET_getTokenFromUsername_InputMessage" />
      <output xmlns:q91="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q91:GET_getTokenFromUsername_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="GET_getUser">
      <documentation>Get the current user</documentation>
      <input xmlns:q92="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q92:GET_getUser_InputMessage" />
      <output xmlns:q93="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q93:GET_getUser_OutputMessage">
        <documentation>User object</documentation>
      </output>
    </operation>
    <operation name="GET_getVersion">
      <documentation>The Nanobox API no longer exposes this endpoint, but Microbox will for purposes of detecting the difference in future releases when that starts to matter.</documentation>
      <input xmlns:q94="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q94:GET_getVersion_InputMessage" />
      <output xmlns:q95="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q95:GET_getVersion_OutputMessage">
        <documentation>A JSON object with the name and version of the API.</documentation>
      </output>
      <fault name="GET_getVersion_404" xmlns:q96="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q96:GET_getVersion_404">
        <documentation>Returned by Nanobox.</documentation>
      </fault>
    </operation>
    <operation name="POST_registerHostingProvider">
      <documentation>Register a hosting provider adapter</documentation>
      <input xmlns:q97="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q97:POST_registerHostingProvider_InputMessage" />
      <output xmlns:q98="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q98:POST_registerHostingProvider_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
    <operation name="DELETE_unregisterHostingProvider">
      <documentation>Unregister a hosting provider adapter</documentation>
      <input xmlns:q99="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q99:DELETE_unregisterHostingProvider_InputMessage" />
      <output xmlns:q100="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" message="q100:DELETE_unregisterHostingProvider_OutputMessage">
        <documentation>success</documentation>
      </output>
    </operation>
  </portType>
  <binding name="Microbox_x0020_Core_x0020_API_Binding" xmlns:q101="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" type="q101:Microbox_x0020_Core_x0020_API_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GET_listApps">
      <soap:operation soapAction="GET_listApps" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getApp">
      <soap:operation soapAction="GET_getApp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_listComponents">
      <soap:operation soapAction="GET_listComponents" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getComponent">
      <soap:operation soapAction="GET_getComponent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_listServiceComponents">
      <soap:operation soapAction="GET_listServiceComponents" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getServiceComponent">
      <soap:operation soapAction="GET_getServiceComponent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_listDeploys">
      <soap:operation soapAction="GET_listDeploys" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_createDeploy">
      <soap:operation soapAction="POST_createDeploy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getDeploy">
      <soap:operation soapAction="GET_getDeploy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_listEvars">
      <soap:operation soapAction="GET_listEvars" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_createEvar">
      <soap:operation soapAction="POST_createEvar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getEvar">
      <soap:operation soapAction="GET_getEvar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DELETE_deleteEvar">
      <soap:operation soapAction="DELETE_deleteEvar" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="POST_createEvent">
      <soap:operation soapAction="POST_createEvent" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="POST_createEvent_422">
        <soap:fault use="literal" name="POST_createEvent_422" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="GET_openTunnel">
      <soap:operation soapAction="GET_openTunnel" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_openConsole">
      <soap:operation soapAction="GET_openConsole" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_listServices">
      <soap:operation soapAction="GET_listServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getService">
      <soap:operation soapAction="GET_getService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getToken">
      <soap:operation soapAction="GET_getToken" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getTokenFromUsername">
      <soap:operation soapAction="GET_getTokenFromUsername" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getUser">
      <soap:operation soapAction="GET_getUser" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GET_getVersion">
      <soap:operation soapAction="GET_getVersion" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
      <fault name="GET_getVersion_404">
        <soap:fault use="literal" name="GET_getVersion_404" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </fault>
    </operation>
    <operation name="POST_registerHostingProvider">
      <soap:operation soapAction="POST_registerHostingProvider" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DELETE_unregisterHostingProvider">
      <soap:operation soapAction="DELETE_unregisterHostingProvider" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output>
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Microbox_x0020_Core_x0020_API">
    <documentation>The full API spec for Microbox Core, and other Nanobox-v1-compatible dashboard and coordination servers.</documentation>
    <port name="default_Port" xmlns:q102="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0/wsdl" binding="q102:Microbox_x0020_Core_x0020_API_Binding">
      <soap:address location="https://virtserver.swaggerhub.com/danhunsaker/Microbox/1.0.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>